.display__tab {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
    padding: 0px 20px 15px;
    width: 100%;

    &__sub {
        color: $font-color;
        text-align: left;
        font: normal normal normal 18px "Segoe UI";
        letter-spacing: 0px;

        opacity: 0.7;
    }

    &__tab {
        &-artist {
            margin-bottom: 10px;
            font-size: 28px;
            color: $font-color;
            font-family: 'Segoe UI';
            font-weight: 300;
        }

        &-track {
            font-size: 32px;
            color: $font-color;
            font-family: 'Segoe UI';
            font-weight: bold;
            padding-left: 40px;
        }

        &-fav {
            background-image: url('../images/star.svg');
            background-color: transparent;
            background-size: cover;
            border: none;
            outline: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-left: 30px;
            opacity: 0.7;
            transition: 0.2s;
        }


    }
}

.title__box {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .title__btn {
        background: transparent;
        border: none !important;
        outline: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        margin-left: 10px;
        justify-content: center;
        align-items: center;
        margin-top: -10px;

        &-error{
            bottom: -75px;
            right: -100px;
            position: absolute;
            width: 150px;
            height: 75px;
            font-size: 20px;
            color: white;
            background: $shadow;
            text-align: center;
            padding: 5px;
            border-radius: 10px;
            font-family: 'Segoe UI';
            font-weight: 200;
        }
    }
}

.tab__content {
    border: solid 1px $color-white;
    background: white;
    overflow-y: scroll;
    max-height: 55vh;
    height: 100%;
    width: 90%;
    padding: 0 20px;
}

.tab__content::-webkit-scrollbar {
    width: 0px;
}

.display__data {
    display: flex;
    padding: 0 20px;
    justify-content: center;

}

.sheet-music__aside {
    display: none;
    position: absolute;
}

.player {
    &__buttons {
        &-play {
            width: 60px;
            height: 60px;
            cursor: pointer;
        }
    }
}

.title__btn-star {
    
    height: 15px;
    width: 15px;
    font-size: 32px;

    svg {
        fill: white;
        width: 30px;
        height: 30px;
    }
}

.gold {
    color: $color-orange;
    svg {
        fill:  $color-orange;
        width: 30px;
        height: 30px;
    }
}