.display__tab {
    // width: 70%;
    text-align: center;
    // padding: 10px;
    // width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // height: 80vh;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
    padding: 5px 20px 15px;
    width: 100%;

    &__sub {
        color: $font-color;
        text-align: left;
        font: normal normal normal 18px "Segoe UI";
        letter-spacing: 0px;

        opacity: 0.7;
    }
    &__tab {
        &-artist {
            font-size: 28px;
            color: $font-color;
            font-family: 'Segoe UI';
            font-weight: 300;


        }
        &-track {
            font-size: 32px;
            color: $font-color;
            font-family: 'Segoe UI';
            font-weight: bold;
        }
        &-fav {
            background-image: url('../images/star.svg');
            background-color: transparent;
            background-size: cover;
            border: none;
            outline: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-left: 30px;
            opacity: 0.7;
            transition: 0.2s;
        }



        // &-fav:hover {
        //     transform: scale(1.1);
        //     // box-shadow: 0 0 10px $color-white;
        //     transition: 0.2s;
        //     // background-color: rgba(240, 230, 230, 0.3);
        //     background-image: url('../images/star1.svg');
        // }
    }
}

.title__box {
    display: flex;
    align-items: center;
    // padding-bottom: 10px;

    .title__btn {
        background: transparent;
        border: none !important;
        outline: none;
        cursor: pointer;
        padding-top: 10px;

        .title__btn-star {
            color: white;
            height: 15px;
            width: 15px;
            font-size: 32px;
        }
        .gold {
            color: gold;
        }
    }
}

.tab__content {
    border: solid 1px $color-white;
    background: white;
    // margin-top: 10px;
    overflow-y: scroll;
    //height: 100%;
    max-height: 60vh;
    // max-width: 1200px;
    height: 100%;
    width:90%;
    padding: 0 20px;
}

.tab__content::-webkit-scrollbar {
    width: 0px;
}

.display__data {
    display: flex;
    padding: 0 20px;
    // justify-content: space-around;
    justify-content: center;
    //overflow: hidden;

}

.sheet-music__aside {
    display: none;
    position: absolute;
}

.player {
    &__buttons {
        &-play {
            width: 60px;
            height: 60px;
            cursor: pointer;
        }
    }
}