.display__tab {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
    padding: 5px 20px 15px;
    width: 100%;

    &__sub {
        color: $font-color;
        text-align: left;
        font: normal normal normal 18px "Segoe UI";
        letter-spacing: 0px;

        opacity: 0.7;
    }

    &__tab {
        &-artist {
            font-size: 28px;
            color: $font-color;
            font-family: 'Segoe UI';
            font-weight: 300;


        }

        &-track {
            font-size: 32px;
            color: $font-color;
            font-family: 'Segoe UI';
            font-weight: bold;
            padding-left: 40px;
        }

        &-fav {
            background-image: url('../images/star.svg');
            background-color: transparent;
            background-size: cover;
            border: none;
            outline: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
            margin-left: 30px;
            opacity: 0.7;
            transition: 0.2s;
        }


    }
}

.title__box {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .title__btn {
        background: transparent;
        border: none !important;
        outline: none;
        cursor: pointer;
        padding-top: 10px;

        .title__btn-star {
            color: white;
            height: 15px;
            width: 15px;
            font-size: 32px;
        }

        .gold {
            color: $color-orange;
        }
    }
}

.tab__content {
    border: solid 1px $color-white;
    background: white;
    overflow-y: scroll;
    max-height: 55vh;
    height: 100%;
    width: 90%;
    padding: 0 20px;
}

.tab__content::-webkit-scrollbar {
    width: 0px;
}

.display__data {
    display: flex;
    padding: 0 20px;
    justify-content: center;

}

.sheet-music__aside {
    display: none;
    position: absolute;
}

.player {
    &__buttons {
        &-play {
            width: 60px;
            height: 60px;
            cursor: pointer;
        }
    }
}