.footer {
    &__wrapper {
        background: #1D1C24;
        //background: $color-gradient;
    }
    &__content {
        max-width: 95%;
        margin: 0 auto;
        height: 75px;
        &-link {
            &-logo {
                height: 50px;
                padding-top: 5px;
                margin: 10px;
            }
        }
    }
}