header {
    background-color: $color-purple;
    // margin: 0 auto;
    border-bottom: solid 1px $color-white;
}

.header {
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 95%;
        margin: 0 auto;
        height: 80px;



        &-title {
            font-size: 50px;
            font-family: $font-family;
            text-decoration: underline;
            color: $color-white;
            cursor: default;
            transition: 5s;


        }

    }
}

.wrapper-user {
    display: flex;
    width: 130px;
    height: 60px;
    justify-content: space-between;
    padding: 0 10px;


    &-login,
    &-signup,
    &-log-out {
        background-color: transparent;
        background-size: cover;
        border: none;
        outline: none;
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 30px;
    }

    &-login:hover,
    &-signup:hover,
    &-log-out:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px $color-white;
        transition: 0.2s;
        background-color: rgba(240, 230, 230, 0.3);
    }

    &-login {
        background-image: url('../images/login.svg');
    }

    &-signup {
        background-image: url('../images/user.svg');
    }
    
    &-log-out{
        background-image: url('../images/login.svg');
    }

    &__form-container{
        display: none;
        position: fixed;
        width: 250px;
        height: 250px;
        padding: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        z-index: 100;
    }

    &__form-overlay {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom:0;
        left: 0;
        background: rgba(0,0,0,0.2);
        z-index: 90;
    }
}

.--show{
    display: block;
}

