header {
    background-color: $color-purple;
    // margin: 0 auto;
    border-bottom: solid 1px $color-white;
}

.header {
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 95%;
        margin: 0 auto;
        height: 80px;
        &-title {
            font-size: 50px;
            font-family: $font-family;
            text-decoration: underline;
            color: $color-white;
            cursor: default;
            transition: 5s;
        }
    }
}

.search {
    &__button {
        padding: 22px 55px;
        background-color: #ef5743;
        border-radius: 35px;
        &-container {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
        }
        &-content {
            color: #f5f5f5;
            font-size: 18px/24px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: 0px;
            text-align: center;
        }
        &-icon {
            margin-right: 10px;
            background-color: transparent;
            background-size: cover;
            width: 16px;
            background-image: url(../../public/icons/search-icon.svg);
        }
    }
}

.search__button:hover {
    cursor: pointer;
    background-color: #da6556;
}

.wrapper-user {
    display: flex;
    width: 130px;
    height: 60px;
    justify-content: space-between;
    padding: 0 10px;
    &-login,
    &-signin {
        background-color: transparent;
        background-size: cover;
        border: none;
        outline: none;
        width: 60px;
        height: 60px;
        cursor: pointer;
        border-radius: 30px;
    }
    &-login:hover,
    &-signin:hover {
        transform: scale(1.1);
        box-shadow: 0 0 10px $color-white;
        transition: 0.2s;
        background-color: rgba(240, 230, 230, 0.3);
    }
    &-login {
        background-image: url('../images/login.svg');
    }
    &-signin {
        background-image: url('../images/user.svg');
    }
}