header {
    background-color: $dark-background;
    height: 80px;

}

.header {
    &__wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        max-width: 85%;
        margin: 0 auto;
        padding: 20px 20px;



        &-title {
            font-size: 32px;
            color: $unnamed-color-f5f5f5;
            cursor: default;
            font-family: 'Segoe UI';
            font-weight: 300;

        }

    }
}

.wrapper-user {
    display: flex;
    height: 60px;
    justify-content: space-between;
    padding: 0 10px;


    &-login {

        background-size: cover;
        border: none;
        outline: none;
        width: 80px;
        height: 80px;
        cursor: pointer;
        border-radius: 50px;
        background-color: $shadow;

    
        // background-color: ;
        svg {
            width: 30px;
            height: 30px;
            fill: $color-white;
            opacity: 0.5;

        }

    }


}