.wrapper-user {
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 10px;

  &-signup {
    svg {
      width: 30px;
      height: 35px;
      fill: $color-white;
      opacity: 0.5;
    }
  }

  &__form-container {
    display: none;
    position: fixed;
    padding: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $login-bac;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(231, 230, 230, 0.2);
    color: $color-white;
    font-family: 'Segoe UI';
    font-weight: Semibold;
    font-size: 18px;
    text-align: left;
    margin-bottom: 15px;
    padding: 70px;
    flex-direction: column;
    justify-content: center;
  }

  &__form-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 90;
    backdrop-filter: blur(10px);
  }
}

.form-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;

  input {
    margin-bottom: 5px;
    height: 40px;
    width: 300px;
    border-radius: 35px;
    outline: none;
    background-color:$shadow-dark;
    opacity: 0.5;
    padding: 10px 20px;
    color: $color-white;
    border: none;
  }

  

  label {
    margin: 15px;
  }
}

.social {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  button {
    padding: 10px;
    border-radius: 35px;
    border: 0;
    cursor: pointer;
    width: 100px;
  }
}

.fb-button {
  background-color: $color-blue;

  svg {
    color: $color-white;
    height: 35px;
  }

  &:hover {
    background-color: $color-blue;
    opacity: 0.8;
  }
}

.gg-button {
  background-color: $font-color;
  svg {
    color: $color-orange;
    height: 35px;
  }

  &:hover {
    background-color:$font-color;
    opacity: 0.8;
  }
}

.button-form-login,
.button-form-signup {
  height: 60px;
  width: 330px;
  border-radius: 35px;
  outline: none;
  background-color: $color-orange;
  cursor: pointer;
  padding: 10px;
  color: $color-white;
  border: none;
  margin: 5px;
  padding: 20px;

  &:hover {
    cursor: pointer;
    background-color: $color-pale-orange;
  }
}

.form_password-error,
.form_email-error{
    height: 15px;
}
