.search__content {

    // background-color:  $color-orange;
    height: calc(100% - 80px);
    width: 400px;
    // width: 0;
    z-index: 103;
    // display: block;
    position: fixed;
    top: 80px;
    left: -440px;
    border-radius: 0 30px 30px 0;
    transition: 0.5s;
    overflow-x: hidden;
    // overflow-y: auto;
    text-align: center;
    padding: 20px 20px;
    
   
    &-title{
        font-size: 35px;
        margin: 5px 0;
        text-decoration: underline;
    }
    &-button:hover {

        transform: scale(1.1);
        transition: 0.2s;

    }
    button:active{
        transform: scale(0.9);
        transition: 0.2s;
      
    }
}
.searchForm{
    margin: 15px;

    &__input{
        width:400px;
        height:35px;
        border-radius: 10px;
        margin-bottom: 10px;
        outline: none;
    }
    &__input:active{
        // background-color: $color-purple;
    }
}
.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 102;
    cursor: pointer;
}
.show{
    display: block;
}
.open{
    left:0;
}
.shine{
    z-index: 103;
    transform: scale(1.1);

}
.search__content-button {
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.2s;
    // background-image: url('../images/search.svg');
}
.song_list{
    display: block;
    background-color: $color-white;
    
    li{
        border-bottom: solid 1px black;
        line-height: 30px;
    }
}
.dropdown_gitHub {
    position: relative;
    display: inline-block;
}

.github__container {
    display: none;
    position: absolute;
    right: 60px;
    top: -50px;
    min-width: 200px;
    z-index: 1;

    a {

        display: block;
        text-decoration: none;
        border: solid 1px $color-white;
        margin: 2px;
        border-radius: 20px;
        padding: 5px;
        text-align: center;
        background-color: rgba(240, 230, 230, 0.5);
     
        font-size: 20px;
        margin-bottom: 5px;
    }

    a:hover {
        box-shadow: 0 0 10px $color-white;
        transition: 0.2s;
        background-color: rgba(240, 230, 230, 1);
        transform: scale(1.1);
        box-shadow: 0 0 10px $color-white;
        transition: 0.2s;
    }
}

.dropdown_gitHub:hover .github__container {
    transition: 0.2s;
    display: block;
}

.dropdown_gitHub:hover .sidebar__button-gitHub {
    transform: scale(1.1);
    box-shadow: 0 0 10px $color-white;
    background-color: rgba(240, 230, 230, 0.5);

}