.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.search__wrapper * {
    color: $font-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0;
}

.icon {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-size: cover;

    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.search {
    &__wrapper {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    &__close-icon {
        top: 29px;
        right: 0px;
        background-image: url(../../public/icons/close-icon.svg);
    }

    &-button {
        top: 29px;
        right: 50px;
        background-image: url(../../public/icons/search-icon-gray.svg);
    }

    &__text-input {
        background: none;
        border: none;
        text-align: center;
        border-bottom: 1px solid $shadow-dark;
        font-size: 32px;
        padding: 5px;
        margin: 10px 40px;
    }
}

.options-container {
    background: $login-bac;
    display: flex;
    justify-content: space-between;
    padding: 28px 39px;

    select {
        justify-self: start;
        background: none;
        border: none;
        margin: 0 5px;

        option {
            background: $dark-background;
            color: $font-color;
        }
    }

    .favorites-star {
        height: 15px;
        width: 15px;
        font-size: 35px;
    }

    button {
        background: transparent;
        border: none !important;
        outline: none;
        cursor: pointer;
    }

    .favorites {
        color: $color-orange;
    }
}

.songs-container {
    background: $login-bac;
    max-height: 65vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }

    .song {
        display: flex;
        margin: 0 40px;
        padding: 14px 198px 16px 0px;
        border-bottom: 1px solid $shadow-dark;

        &:hover {
            cursor: pointer;
            background: $color-dark-background;
        }

        & .image {
            display: flex;
            width: 86px;
            height: 86px;
            border-radius: 10px;
            background-color: $color-another-blue;
            justify-content: center;
            align-items: center;

            svg{
                width: 45px;
                height: 45px;
                
                fill:  $dark-background;
            }
        }

        & .content {
            margin-left: 34px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: $font-color;

            &-name {
                font-size: 21px;
            }

            &-author {
                font-size: 16px;
                opacity: 0.7;
            }
        }
    }
}