$font-color: #f5f5f5;
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.search__wrapper * {
    color: $font-color;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0;
}

.search {
    &__wrapper {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    &__close-icon {
        position: absolute;
        top: 34px;
        right: 0px;
        width: 22px;
        height: 22px;
        opacity: 0.2;
        background-color: transparent;
        background-size: cover;
        background-image: url(../../public/icons/close-icon.svg);
        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }
    }
    &__text-input {
        background: none;
        border: none;
        text-align: center;
        border-bottom: 1px solid #707070;
        font-size: 32px;
        padding: 5px;
        margin: 20px;
    }
}

.options-container {
    background: #1D1C24;
    display: flex;
    justify-content: space-between;
    padding: 28px 39px;
    select {
        justify-self: start;
        background: none;
        border: none;
        margin: 0 5px;
        option {
            background: #1D1C24;
            color: $font-color;
        }
    }
}