.sheet-music__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sheet-music__bitrate{
    margin: 0 50px;
}

.sheet-music__render{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
}