.sheet-music{
    position: relative;

    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__bitrate{
        margin: 0 50px;
    }

    &__render{
        position: relative;
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(auto-fit, 400px);
        grid-auto-rows: minmax(min-content, max-content);
        justify-content: center;
    }

    &__time-marker{
        width: 10px;
        background-color: rgba($color: #4dc20a, $alpha: 0.6);
        position: absolute;
        border-radius: 30%;
    }
    
}

.button-play{
    position: fixed;
    width: 100px;
    top: 50%;
    left:10px;
    z-index: 100;
}