.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

    svg {
        width: 30px;
        height: 30px;
        fill: $color-white;
        opacity: 0.5;
    }

    &__function {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__extra {
        display: flex;
        flex-direction: column;
    }

    button {
        background-size: cover;
        border: none;
        outline: none;
        width: 58px;
        height: 58px;
        cursor: pointer;
        background-color: $shadow;
        border-radius: 10px;
        transition: 0.2s;
        color: $color-white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
    }

    button:hover {
        transition: 0.2s;

        background-color: $shadow-dark;

        svg {

            background-color: #707070;
            opacity: 0.8; 
        }
    }

    button:active {
        transform: scale(0.95);
        transition: 0.2s;
        background-color: $color-brown;
    }

    button.active {
        svg {
            fill: #ef5743;
        }
    }

    .show {
        display: block;
    }
}