.sidebar{
    display: flex;
    flex-direction: column;
    padding-right: 2%;

    &__button{
       
        &-play{
            // background-image: url('../images/sidebar_icon/play.svg');
            
       
            background-color: rgb(21, 150, 150);
            width: 3.5rem;
            height: 3.5rem;
        }
        &-speed{
            background-color: rgb(29, 160, 160);
            width: 3.5rem;
            height: 3.5rem;
        }
        &-sound{
            background-color: rgb(28, 180, 180);
            width: 3.5rem;
            height: 3.5rem;
        }
        &-metronom{
            background-color: rgb(30, 197, 197);
            width: 3.5rem;
            height: 3.5rem;
        }
        &-print{
            background-color: rgb(34, 201, 201);
            width: 3.5rem;
            height: 3.5rem;

        }
        &-favorite{
            background-color: rgb(35, 224, 224);
            width: 3.5rem;
            height: 3.5rem;

        }
        &-instrument{
            background-color: rgb(39, 230, 230);
            width: 3.5rem;
            height: 3.5rem;
        }
        &-gitHub{
            background-color: rgb(82, 240, 240);
            width: 3.5rem;
            height: 3.5rem;
        }
    }
}