$color-orange: #F2B024;
$color-purple: #850DE2;
$color-white: #ffffff;
$color-gradient: linear-gradient(180deg, #F2B024 0%, #850DE2 100%), #F2B024;
$color-reverse-gradient: linear-gradient(180deg, #850DE2 0%, #F2AF25 99.99%, #F2B024 100%);
$font-family: Roboto normal;
$color-gradinent-side: linear-gradient(180deg, #F2B024 0%, #F2B024 0.01%);