* {
    box-sizing: border-box;
}

@import '~normalize-scss/sass/normalize';
@import './_colorVariables.scss';
@include normalize();
@import './_header.scss';
@import './_loginForm.scss';
@import './_searchbar.scss';
@import './_sidebar.scss';
@import './_displaytab.scss';
@import './_footer.scss';
@import './main.scss';
@import './_sheetMusicPage.scss';
@import './instrumentBar.scss';
@import './playerBox';
@import './about';

.--show {
    display: flex;
}
