.inst-bar__container * {
    font-family: 'Segoe UI';
    font-weight: Semibold;
    font-size: 18px;
    color: #f5f5f5;
    
}

.inst-bar {
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $login-bac;
        z-index: 100;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(231, 230, 230, 0.2);
        margin-bottom: 15px;
        padding: 40px;
        
    }
    &__title {
        font-size: 32px;
        margin: 20px;
    }
    &__instrument-wrapper {
        max-height: 50vh;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 0px;
        }
    }
    &__instrument {
        display: flex;
        justify-content: flex-start;
        padding: 20px;
        border-bottom: 1px solid #707070;
        &:hover {
            cursor: pointer;
            background: #1e1e25;
        }
    }
    &__instrument-icon {
        margin-right: 20px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: rgb(96, 96, 248);
    }
    &-instrument-content {}
    &__highlight {
        background: #ef5743;
        &:hover {
            background: #e77364;
        }
    }
}
.overlay{
   backdrop-filter: blur(10px);
}